*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cardo', serif;
    font-weight: 400;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    background-color: $orange;
    color: $black-blue;
    padding: 18px 52px;
    font-size: 19px;
    line-height: 28px;

    &_white {
        @extend .btn;
        background-color: $white;
        border: 2px solid $orange;
    }

    &_color-white {
        @extend .btn_white;
        color: $white;
    }

    &_big {
        @extend .btn;
        padding: 20px 40px;

        @include breakpoint-mf ('md') {
            padding: 24px 92px;
        }
    }
}

.logo-holder {
    width: 119px;
    height: 35px;
}